language: node_js
node_js:
  - 8
cache:
  directories:
  - node_modules
jobs:
  include:
    - stage: "Lint and Test"
      script: npm run lint
      name: "Linting"
    - script: npm run travis:test
      name: "Test"
deploy:
- provider: script
  script: npm run deploy
  skip_cleanup: true
  on:
    branch: master